body {
    background-color: gray;
    color: aqua;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: "Fresca";
    text-shadow: 1px 1px black;
    margin: 15px 25px 25px 25px;
}
h1 {
    text-align: center;
    font-size: 2rem;
}
#pic1 {
    width: 60%;
    height: auto;
    margin: 15px 20% 15px 20%;
}
#pic2 {
    width: 20%;
    height: auto;
    margin: 15px 40% 15px 40%;
}
footer {
    text-align: center;
    font-size: 1rem;
}
